
:root {
    --text-color: #333;
    --sub-text-color: #5c5c5c;

    --btn-text-color: #3B3B3B;
    --btn-color: #243522;
    --btn-active-text-color: #fff;

    --body-color-one: #dee8e3;
    --body-color-two: #f9fffc;
    --body-color-three: #dee8e3;
}


@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #e7efeb;
        --sub-text-color: #d2d2d2;

        --btn-text-color: #e7efeb;
        --btn-color: #e7efeb;
        --btn-active-text-color: #111;

        --body-color-one: #1b2719;
        --body-color-two: #243522;
        --body-color-three: #1b2719;
    }
}

html {
    font-size: 14px;
}

body {
    /*background-color: #f9fffc;*/
    background: linear-gradient(to right, var(--body-color-one), var(--body-color-two), var(--body-color-three));
    font-family: "Saira Condensed", sans-serif;
    color: var(--text-color);
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
}


.photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #e7efeb;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
}

.name {
    margin-top: .9rem;
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.description {
    margin-top: 0;
    color: var(--sub-text-color);
    letter-spacing: .5px;
    font-size: 1.1rem;
}


/* Button styles */
.button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--btn-color);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--btn-text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    min-height: 3rem;
    min-width: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 12rem;
    will-change: transform;
    line-height: 1;
    letter-spacing: .5px;
}

.button:hover,
.button:active {
    color: var(--btn-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    text-decoration: none;
}

.button:focus {
    color: var(--btn-text-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    text-decoration: none;
}

.button.accent {
    color: var(--btn-active-text-color);
    background-color: var(--btn-color);
}

.button.accent:hover,
.button.accent:focus {
    color: var(--btn-active-text-color);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: -5px;
    margin-right: 3px;
    margin-left: -5px;
}

.icon path{
    fill: var(--btn-text-color);
}

.button.accent .icon path {
    fill: var(--btn-active-text-color);
}


/* Technical classes */

.text-center { text-align: center; }
.mx-1 {
    margin-right: .25rem;
    margin-left: .25rem;
}
.mt-3 { margin-top: 1rem; }
.mb-3 { margin-bottom: 1rem; }