
footer{
	position: relative;
	background-color: rgb(25, 25, 25);
}

.link, .copyright, .social{
	margin-top: 40px;
	margin-bottom: 30px;
	font-size: 1em;
	line-height: 36px;
	color: rgb(245, 245, 245);
	text-align: center;
}

@media(max-width: 992px){

	footer .social {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	footer .social > a {
		margin: 10px;
	}

	.copyright, .link {
		text-align: center;
		margin: 5px;
	}

	.copyright {
		margin-bottom: 30px;
	}

}
