.social {
	margin-top: 25px;
	text-align: left;
}

@media(max-width: 992px) {
	.social {
		text-align: center;
		margin: 5px;
	}
	.social {
		margin-top: 30px;
	}

}

.social-buttons {
	display: inline-block;
	text-align: center;
	font-size: 1.6em;
	height: 36px;
	width: 36px;
	padding-top: 3px;
	border-radius: 3px;
	color: white;
}

.social-buttons:hover, .social-buttons:focus{
	color: white;
}

.fa-facebook{
	margin-left: 10px;
}

.vk:hover{
	background-color: #507299;
}

.facebook:hover{
	background-color: #3b5998;
}

.linkedin:hover{
	background-color: rgb(0, 119, 181);
}

.github, .codepen {
	font-size: 2em;
	padding-top: 0px;
	line-height: 1.25em;
}

.github:hover, .codepen:hover {
	background-color: #24292e;
}

.instagram {
	font-size: 2em;
	padding-top: 0px;
	line-height: 1.25em;
}

.instagram:hover {
	background-color: #E1306C;
	/* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
}